<ng-template #content let-modal>
  <div class="modal-header">
    <h4 mat-dialog-title>{{ title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-body">
          <input type="text" formControlName="name" class="form-control">
    </div>
    <div class="modal-footer">
      <button type="submit" color="primary">Save</button>
    </div>
  </form>
</ng-template>

